<template>
  <tr>
    <td>{{product.name}}</td>
    <td>{{formatIDR(product.amount)}}</td>
    <td v-if="product.grade">
      <span>{{product.grade}}</span>
      <span v-if="product.grade.length == 1" class="spacing">+++</span>
      <span v-else-if="product.grade.length != 1" class="spacing">++</span>
      <span class="rate">{{product.rate}}%</span>
    </td>
    <td v-else-if="product.type">
      <span>{{product.type}}</span>
      <span v-if="product.type.length == 2" class="spacing">+++</span>
      <span v-else-if="product.type.length != 2" class="spacing">++</span>
      <span class="rate">{{product.rate}}%</span>
    </td>
    <td v-if="product.tenor">{{product.tenor}} Hari</td>
    <td class="rate" v-if="!product.tenor">{{product.return}}%</td>
  </tr>
</template>

<script>
export default {
  data() {
    return {
      product1: this.product,
    };
  },
  name: 'TableData',
  props: ['product'],
  methods: {
    formatIDR(value) {
      const sValue = String(value);
      let result = '';
      let jumlah = 0;
      for (let i = sValue.length - 1; i >= 0; i -= 1) {
        jumlah += 1;
        result = sValue[i] + result;
        if (jumlah % 3 === 0 && jumlah !== 0 && i !== 0) {
          result = `.${result}`;
        }
      }
      return `IDR ${result}`;
    },
  },
};
</script>

<style>
  .spacing {
    color: rgb(255, 255, 255);
  }
  .rate {
    color: rgba(6, 6, 135, 0.824);
    font-weight: 700;
  }
</style>
