<template>
  <div class="container">
    <div class="row justify-content-center">
      <p class="fs-1 text-center mt-4">404 Not Found</p>
      <img style="height:80vh" src="https://images.unsplash.com/photo-1594322436404-5a0526db4d13?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZXJyb3J8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
    </div>
  </div>
</template>

<script>
export default {

};
</script>

<style>

</style>
