<template>
  <div class="container">
    <Banner />
    <div>
      <MainProduct
        v-for='mainProduct in mainProducts'
        :key='mainProduct.name'
        :mainProduct='mainProduct'
      />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import MainProduct from '../components/MainProduct.vue';
import mainProductJSON from '../../../server/json/main.json';
import Banner from '../components/Banner/Banner.vue';

export default {
  name: 'Home',
  components: { MainProduct, Banner },
  data() {
    return {
      mainProducts: mainProductJSON.contents,
    };
  },
};
</script>

<style>
.title {
  margin-top: 5%;
  font-size: 250%;
  text-align: start;
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
}
</style>
