<template>
  <div class="container">
    <Banner/>
    <div class="card mt-3" style="border-bottom: none">
      <div class="row mt-3">
        <div class="mt-3 ms-3 me-3 col-8">
          <div class="input-group mb-3">
            <button
              class="searchButton"
              type="submit">
              <i class="fa fa-search"></i>
            </button>
            <input
            type="text"
            class="form-control"
            v-model="srcName"
            placeholder="Search By Nama..."
            style="border-end-end-radius:50px;border-start-end-radius:50px"
            >
          </div>
        </div>
        <div class="col-3 mt-3">
          <select
            class="form-select filterByGrade"
            aria-label="Default select example"
            v-model="filterGrade">
            <option
              selected
              v-if="$route.params.type=='sbn'"
              value=""
              >Filter By Type</option>
            <option
              selected
              v-else-if="$route.params.type=='reksadana'"
              value=""
              >Filter By Rate</option>
            <option
              selected
              v-else
              value=""
              >Filter By Grade</option>
            <FilterOption
              v-for="grade in grades"
              :key="grade.name"
              :grade="grade"
            />
          </select>
        </div>
      </div>
    </div>
    <div class="card overflow-auto" style="border-top:none; height:250px">
      <table class="mt-2">
        <tr>
          <th>Nama</th>
          <th>Pinjaman</th>
          <th v-if="$route.params.type=='sbn'">Type & Rate</th>
          <th v-else-if="$route.params.type=='reksadana'">Rate</th>
          <th v-else>Grade & Rate</th>
          <th v-if="$route.params.type!='reksadana'">Term</th>
        </tr>
        <TableData
          v-for="product in filteredProducts"
          :key="product.name"
          :product="product"
        />
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Banner from '../components/Banner/Banner.vue';
import TableData from '../components/Table/TableData.vue';
import FilterOption from '../components/FilterOption.vue';

export default {
  data() {
    return {
      products: [],
      grades: [],
      srcName: '',
      filterGrade: '',
    };
  },
  name: 'ListProduct',
  components: { Banner, TableData, FilterOption },
  methods: {
    fetchProducts() {
      axios.get(`http://localhost:3000/${this.$route.params.type}`)
        .then((response) => {
          this.products = response.data.contents;
          this.grades = this.filterReplicateGradeOrRate(this.products);
          console.log(this.grades);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    filterReplicateGradeOrRate(array) {
      let obj = {};
      for (let i = 0; i < array.length; i += 1) {
        if (this.$route.params.type === 'sbn') {
          if (!obj[array[i].type]) {
            obj[array[i].type] = array[i].type;
          }
        } else if (this.$route.params.type === 'reksadana') {
          obj = { a: '>= 0', b: '< 0' };
        } else if (!obj[array[i].grade]) {
          obj[array[i].grade] = array[i].grade;
        }
      }
      return Object.values(obj);
    },
  },
  computed: {
    filteredProducts() {
      let filtered = [];
      if (this.filterGrade === '') {
        filtered = this.products;
      } else if (this.$route.params.type === 'sbn') {
        filtered = this.products.filter((e) => e.type === this.filterGrade);
      } else if (this.$route.params.type === 'reksadana') {
        if (this.filterGrade === '>= 0') {
          filtered = this.products.filter((e) => e.return >= 0);
        } else {
          filtered = this.products.filter((e) => e.return < 0);
        }
      } else if (this.$route.params.type !== 'reksadana') {
        filtered = this.products.filter((e) => e.grade === this.filterGrade);
      }

      return filtered.filter((e) => e.name.toLowerCase().includes(this.srcName.toLowerCase()));
    },
  },
  created() {
    this.fetchProducts();
  },
};
</script>

<style>
.filterByGrade {
  border-radius: 40px;
  padding: 10px;
}
.searchButton {
  float: left;
  width: 10%;
  padding: 10px;
  background: #ffffff;
  color: rgb(150, 141, 141);
  font-size: 17px;
  border: 1px solid #ced4da;
  border-right: none;
  border-radius: 50px;
  cursor: pointer;
}
th, td {
  padding: 8px;
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  color: rgba(6, 6, 135, 0.824);
  font-weight: 900;
}
.rate {
  color: rgba(6, 6, 135, 0.824);
}
</style>
