<template>
  <div>
    <img alt='Vue logo' src='https://oss.investree.id/CMS/CMS_7b22fc_1_1625712335854.jpg'/>
    <div class="title" v-if="$route.name != 'Home'"
    @click="$router.push({name: 'Home'})"
    style="cursor: pointer"
    >
      PRODUCT
    </div>
    <div class="title" v-if="$route.name == 'Home'">PRODUCT</div>
  </div>
</template>

<script>
export default {
  name: 'Banner',
};
</script>

<style>

</style>
