<template>
  <div>
    <div class="card mt-3 mb-3 cardShadowHover"
      style="cursor: pointer"
      @click="changeClickedSubProduct()"
      :class="{clickedCard:clickedSubProduct}"
      >
      <div class="row mt-3 mb-3">
        <div class="col-1">
          <div class="columnIcon ms-3"
            :class="{clickedMainProduct:clickedSubProduct,
            unClickedMainProduct:!clickedSubProduct}">
            <i class="far fa-file"></i>
          </div>
        </div>
        <div class="col-10" style="text-align:left">
          <div class="cardTitle"
            :class="{clickedMainProduct:clickedSubProduct,
            unClickedMainProduct:!clickedSubProduct}"
            >{{mainProduct.name}}</div>
          <div class="cardParagraph"
            :class="{clickedMainProduct:clickedSubProduct}"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Illum atque rem quia! Asperiores nemo corrupti eius, vero, repellat obcaecati
            autem quaerat corporis enim ipsum voluptates beatae iure. Dolor, facilis.</div>
        </div>
        <div class="col-1 fs-5">
          <span :class="{clickedMainProduct:clickedSubProduct,
          unClickedMainProduct:!clickedSubProduct}"
          >{{mainProduct.count}}</span>
        </div>
      </div>
    </div>
      <div class="row" v-if="clickedSubProduct" style="cursor: pointer">
        <SubProduct
        v-for='subProduct in subProducts'
        :key='subProduct.name'
        :subProduct='subProduct'
        />
      </div>
  </div>
</template>

<script>
import axios from 'axios';
import SubProduct from './SubProduct.vue';

export default {
  data() {
    return {
      subProducts: [],
      clickedSubProduct: false,
      product: [],
    };
  },
  name: 'MainProduct',
  props: ['mainProduct', 'Product'],
  components: { SubProduct },
  methods: {
    changeClickedSubProduct() {
      if (this.subProducts.length !== 0) {
        this.clickedSubProduct = !this.clickedSubProduct;
        console.log(this.clickedSubProduct, this.mainProduct.name);
      } else {
        const category = this.mainProduct.name.toLowerCase();
        this.$router.push({ name: 'ListProduct', params: { type: category } });
      }
    },
    fetchSubProduct() {
      let result = '';
      let flag = false;
      for (let i = 0; i < this.mainProduct.sub.length; i += 1) {
        if (this.mainProduct.sub[i] === '/') {
          flag = true;
        } else if (this.mainProduct.sub[i] === '.') {
          break;
        }
        if (flag) {
          result += this.mainProduct.sub[i];
        }
      }
      axios.get(`http://localhost:3000${result}`)
        .then((response) => {
          if (response.data.contents[0].sub) {
            this.subProducts = response.data.contents;
          } else {
            this.products = response.data.contents;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  created() {
    this.fetchSubProduct();
  },
};
</script>

<style>
.clickedCard {
  background-image: linear-gradient(to right, rgb(62, 140, 6) , rgb(136, 216, 66));
}
.clickedMainProduct {
  color: white;
}
.unClickedMainProduct {
  color: rgb(101, 194, 105);;
}
.cardTitle {
  font-size: 1.5em;
  font-weight: bold;
}
.cardParagraph {
  font-size: 1.2em;
}
.columnIcon {
  font-size: 5em;
  float: left;
  width: 5%;
}
.cardShadowHover:hover {
  box-shadow: 0 0 20px #ccc;
}
</style>
