<template>
  <div class="col-6" @click="$router.push({name : 'ListProduct', params: {type:subName()}})">
    <div class="card cardShadowHover">
      <div class="row mt-3">
        <div class="col-1">
        <div class="columnIcon ms-3"
          style="color: rgb(101, 194, 105)">
          <i class="far fa-file"></i>
        </div>
      </div>
      <div class="col-10 p-0" style="text-align:left">
        <div class="cardTitle ms-5"
          style="color: rgb(101, 194, 105)"
          >{{subProduct.name}}</div>
        <div class="cardParagraph ms-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Illum atque rem quia! Asperiores nemo corrupti</div>
      </div>
      <div class="col-1 p-0 fs-5" style="text-align:start">
        <span style="color: rgb(101, 194, 105)">{{subProduct.count}}</span>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SubProduct',
  props: ['subProduct'],
  methods: {
    subName() {
      let result = '';
      let flag = false;
      for (let i = 0; i < this.subProduct.sub.length; i += 1) {
        if (this.subProduct.sub[i] === '/') {
          flag = true;
          i += 1;
        } else if (this.subProduct.sub[i] === '.') {
          break;
        }
        if (flag) {
          result += this.subProduct.sub[i];
        }
      }
      return result;
    },
  },
};
</script>

<style>
.cardShadowHover:hover {
  box-shadow: 0 0 20px #ccc;
}
</style>
